  .burgerOpen {  
  position: absolute;
  top: 2%;
  left: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2em;
  height: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  &:focus {
    outline: none;
  }
  }
  
  
  .lineBurger {
    width: 2rem;
    height: 0.25rem;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  .burgerClosed {
    position: absolute;
    top: 2%;
    left: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2em;
    height: 2em;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    &:focus {
      outline: none;
    }

    :first-child {
        transform: rotate(45deg);
      }
  
      :nth-child(2) {
        opacity: 0;
      }
  
      :nth-child(3) {
        transform: rotate(-45deg);
      }
  }