@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

// Fonts
$theme-font: 'Muli', sans-serif;

// Variables
$darkBlue: #112f91;
$blue: #1a4faa;
// $lightBlue: #7a9eb1;
$lightBlue: #70abe9;
$skyBlue: #9fd3c7;
$main: #ececec;
$red: #f85f73;
$yellow: #f6ce59;
$green: #4CAF50;
$zoom: #293462;