@import '../../variables';

.row {
    margin: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 33%;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  // SCROLLBAR
  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $lightBlue; 
  }
  
    
  // BOTONES
  .button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: "Muli", sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
  
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 90ms;
  }
  
  .button_item {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: "Muli", sans-serif;
    height: 3em;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
  
  .button_item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 90ms;
  }
  
  .button-cart {
    background-color: white;
    border: 2px solid $zoom;
    border-radius: 25px;
    color: $zoom;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    letter-spacing: 1px;
    margin: 5px 0px;
  }
  
  .button-cart:hover {
    background-color: $zoom;
    color: white;
    transition: 90ms;
  }
  
    .button_add{
      background-color: $green;
      border: none;
      color: white;
      padding: 4px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      cursor: pointer;
  }
  
  .button_add_green{
      background-color: white; 
      color: black; 
      border: 2px solid $green;
  }
  
  .button_add_green:hover{
      background-color: $green;
      color: white;
  }
  
    .button_minus{
      background-color: $red;
      border: none;
      color: white;
      padding: 4px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      cursor: pointer;
  }
  
  .button_minus_red{
      background-color: white; 
      color: black; 
      border: 2px solid $red;
  }
  
  .button_minus_red:hover{
      background-color: $red;
      color: white;
  }
  
  .button_delete{
    background-color: $red;
    width: 50%;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button_zoom{
    background-color: $zoom;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button_zoom_blue{
    background-color: white; 
    color: black; 
    border: 2px solid $zoom;
  }
  
  .button_zoom_blue:hover{
    background-color: $zoom;
    color: white;
  }